################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/guiaMVC1/.vs
# Visual Studio metadata folders
**/.vs/
*.vs/
